.card-container {

    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    width: 15vw;
    height: 30vh;
    text-align: center;
    margin: 5vh 5vw;
    font-size: 20px;

    .card-english-word {
        font-weight: 700;
    }

    .card-transcription {
        color: gray
    }

    .card-check-button {
        margin-top: 10%;
        border: 0px;
        border-radius: 15px;
        width: 50%;
        height: 20%;
        background-color: white;
        font-size: 20px;
    }

    .card-check-button:hover {
        background-color: rgb(137, 201, 81);
    }

    .card-check-button:active {
        background-color: rgb(98, 145, 57);
    }

}