header,
main,
aside,
footer,
.main {
    text-align: center;
    border: 1px solid red;
    box-sizing: border-box;
}

main {
    float: left;
    width: 68vw;
    height: 80vh;
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 60vh;

}

p {
    border: 1px solid blue;
    width: 40%
}

aside {
    float: right;
    width: 30vw;
    height: 80vh;
}

footer {
    display: inline-flex;
    width: 100vw;
    justify-content: space-around;
    clear: both;
}