.header-container {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 10vh;
    padding: 2vh 10vw;
    background-color: black;
    border-bottom: 0.5px solid white;

    .header-logo-area {
        height: 100%;

        .header-logo {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .header-buttons-area {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 15vw;

        .header-search-image-area {
            height: 50%;

            .header-search-image {
                max-width: 100%;
                max-height: 100%;
            }
        }

    }

    .header-login,
    .header-signup,
    .header-cards {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: large;
    }

    .header-login:hover,
    .header-signup:hover,
    .header-cards:hover {
        color: rgb(137, 201, 81);
        text-decoration: underline;
    }

    .header-login:active,
    .header-signup:active,
    .header-cards:active {
        color: rgb(98, 145, 57);
        text-decoration: underline;
    }
}